[submodule "home/jasonz/.vim/bundle/L9"]
	path = home/jasonz/.vim/bundle/L9
	url = https://github.com/vim-scripts/L9
[submodule "home/jasonz/.vim/bundle/powerline"]
	path = home/jasonz/.vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline
[submodule "home/jasonz/.vim/bundle/vim-colorschemes"]
	path = home/jasonz/.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "home/jasonz/.vim/bundle/Vundle.vim"]
	path = home/jasonz/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "home/jasonz/.vim/bundle/rainbow_parentheses.vim"]
	path = home/jasonz/.vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "home/jasonz/.vim/bundle/vim-autoclose"]
	path = home/jasonz/.vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule "home/jasonz/.vim/bundle/vim-trailing-whitespace"]
	path = home/jasonz/.vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
